<header>
    <div class="container">
    
        <ul>
        <li id="home">
            <a href="#" routerLink="/">Home</a>
            
        </li>
        <li>
            <app-search></app-search>
        </li>
        <li>
        <nav>
            <a href="#" routerLink="/cart">Cart</a>
        </nav>
        </li>
        <li>
            <a href="#" routerLink="/login">
            Login
            </a>
        </li>
        <li>
        <a href="" routerLink="/register">
            Register
        </a>
        </li>
    </ul>
    </div>
</header>