<div *ngIf="cart && cart.items.length >0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.article.imageURL" [alt]="cartItem.article.name">
            </div>
            <div>
                <a routerLink="/article/{{cartItem.article.id}}">
                    {{cartItem.article.name}}
                </a>
            </div>

            <div>
                <input type="number" [(ngModel)]="quantity" (change)="changeQuantity(cartItem)">

                
            </div>

            <div>
                {{cartItem.article.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="articles-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice| currency}}</div>
        </div>
    </div>

</div>