<app-navbar></app-navbar>
<div class="container">
    
    <div class="name">{{article.name}}</div>
    <div class="image-container">
        <img src="{{article.imageURL}}">
    </div>
    <div class="information">
        <div class="small-description">{{article.short_description}}</div>
        <div class="description">{{article.description}}</div>
        <div class="price">{{article.price}}</div>
    </div>
    

</div>
<div class="admin-editor">
        <app-admin-item-panel></app-admin-item-panel>
    </div>