<div class="container">
    <div>
        <h1>Create an Account</h1>
        <div>Your name
            <input type="text" placeholder="First and last name">
        </div>
        <div>Email
            <input type="text">
        </div>
        <div>
            Password
            <input type="password" placeholder="At least 6 characters">
        <div style="font-size: x-small;"> Passwords must be at least 6 characters.</div>
        </div>
        <div>
            Re-enter password
            <input type="password" placeholder="At least 6 characters">
        </div>
        <button>Continue</button>
        <div>
            Already have an account?
            <button>Sign in</button>
        </div>
    </div>
</div>